button {
  color: white   ;
}

tr {
  border-top: 1px solid transparent   !important ;
  border: 1px solid none !important  ;
  padding: 40px !important;
}

.lesshigh {
  font-size: 9px;
  padding-right: 8px;
}
.rainbow {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow { 
  0%{background-position:0% 50%}
  50%{background-position:100% 25%}
  100%{background-position:0% 50%}
}

::selection {
  background: #007bff   ;
  color: white  ;
}

#spanfix {
  width: 6rem  !important ;
}

button, a:hover, .btn {
  cursor: url('cursor/hover.cur'), auto !important;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}